.home-view {
    table {
        td {
            white-space: nowrap;
            width: 100%;
        }
    }

    .edit-btn-col {
        width: 93px;
        min-width: 93px;
        white-space: nowrap;
    }

    .first-name-col {
        width: 300px;
        min-width:100px;
    }
    .second-name-col {
        width: 300px;
        min-width:100px;
    }
    .dob-col {
        width: 300px;
        min-width:200px;
    }
}
